/* Estilos generales */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

h1 {
    color: #ff6600; /* Color de encabezados */
}

h2 {
    color: #333; /* Color de subencabezados */
}

p {
    line-height: 1.6;
    color: #666; 
}

.sign {
    margin-top: 20px;
}

.sign h1 {
    color: #f85449; 
}

.sign img {
    max-width: 100%;
    height: auto;
    border: 1px solid #ccc; 
}


a:hover {
    text-decoration: underline;
}


.date {
    font-style: italic;
    color: #999;
}

img {
    width: 20%; 
    height: 20%; 
  }
