/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    text-align: center;
}

h1 {
    color: #0a1067;
    font-size: 28px;
}

h2 {
    color: #333;
    font-size: 20px;
}


img {
    width: 700px; 
    height: 400px; 
  }
