/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #cceaf6;
    margin: 0;
    padding: 0;
    text-align: center;
}


h1 {
    color: #333;
}

h2 {
    color: #555;
}

p {
    font-size: 16px;
    line-height: 1.5;
    color: #666;
    margin: 20px 0;
    text-align: left;
}

ul {
    list-style-type: disc;
    margin-left: 20px;
}

li {
    color: #333;
}

/* Estilos para las imágenes */
img {
    width: 50%; /* Ajusta el ancho deseado */
    height: 50%; /* Ajusta el alto deseado */
  }

